body {
    color: rgb(var(--bs-tertiary-color-rgb));
    max-width: 100%;
    overflow-x: hidden;
}

/* .img-produk:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
} */

.scrollTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px 15px;
    color: #acaaa9;
    border-radius: 5px;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover {
    color: #f6fa03;
}


/* start top nav */
#top_nav {
    min-height: 40px
}

#top_nav * {
    font-size: 1rem !important
}

/* end top nav */

/* start animasi klik */
#animasi_keren a {
    background-image: linear-gradient(to right, #e5f50b, #e5f50b 50%, #f5f1f1 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#animasi_keren a:before {
    content: '';
    background: #e5f50b;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#animasi_keren a:hover {
    background-position: 0;
}

#animasi_keren a:hover::before {
    width: 100%;
}

/* end animasi klik */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;

}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 31rem;
}


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 3rem 0;
}

.featurette-heading {
    letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}